@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Tangerine&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tag-line{
  font-family: "Tangerine", sans-serif;
}

img{
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.logo-div{
  max-width: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-mobile ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nav--button{
  background-color: #0a3332;
  padding: 15px;
  border-radius: 5px;
}

.nav--button:hover{
  background-color: black;
  color: white;
}

.breathing-div {
  transition: transform 0.2s ease-in-out;
}

.breathing-div h2 {
  color: #0a3332;
}

.breathing-div h4 {
  color: #184341;
}

.breathing-div p {
  color: rgba(0, 0, 0, 0.295);
  line-height: 1.7;
}

.breathing-div span {
  background-color: rgba(0, 0, 0, 0.295);
}

.hero-switch-div {
  background-color: rgba(0, 0, 0, 0.295);
  flex-direction: row;
  display: flex;
}

.breathing-div:hover {
  transform: scale(1.05);
}

.container{
  height: 264px;
  overflow: hidden;
  background-color: black;
  position: relative;
}

.image{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.image:hover{
  transform: scale(1.1);
}


.project-bg-1 {
  background-image: url('/src/images/project1/pre-completion/IMG20230804134431.jpg');
  transition: 0.5s;
}

.project-bg-2 {
  background-image: url('/src/images/PK-apartments/img3.jpg');
  transition: 0.5s;
}

.project-bg-3 {
  background-image: url('/src/images/white-project/53b7425f-8933-4574-bc16-e3fa90e4511b.JPG');
  transition: 0.5s;
}

.project-bg-4 {
  background-image: url('/src/images/harbor-haven/img1.jpg');
  transition: 0.5s;
}


.project-bg-5 {
  background-image: url('/src/images/vintage-blush/IMG_20220503_093243.jpg');
  transition: 0.5s;
}

.project-bg-6 {
  background-image: url('/src/images/citrus-serenity/img2.jpg');
  transition: 0.5s;
}

.project-bg-7 {
  background-image: url('/src/images/Madon-project/img1.jpg');
  transition: 0.5s;
}

.project-homepage-title-span{
  position: absolute;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 90%;
  height: 50px;
}

.project-plus-sign{
  background-color: #0a3332;
}

.project-plus-sign:hover {
  background-color: black;
}

.subText{
  color: rgba(0, 0, 0, 0.495);
  font-size: 15px;
}

.core-values-text{
  color: rgba(255, 255, 255, 0.495);
}

.services-text{
  color: rgba(0, 0, 0, 0.495);
  font-size: 15px;
}

.moving-image{
  height: 250px;
  background-color: #0a3332;
}

.footer-transparent-text{
  color: rgba(255, 255, 255, 0.695);
}

.footer--button{
  background-color: white;
  color: black;
  border-radius: 5px;
}

.footer--button:hover{
  background-color: black;
  color: white;
}




